{
  "extends": ["prettier", "airbnb", "airbnb/hooks"],
  "plugins": ["@typescript-eslint", "react", "import", "react-hooks", "jsx-a11y"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  }
}
