*.log
*.tgz
.env
.idea
.yarn
.husky
.github
.cursor
.vscode
.creevey
.teamcity
.prettier*
.storybook
.yarnrc.yml
.gitlab-ci.yml
.gitattributes
TODO.md
PROTO.md
tsconfig.json
tsconfig.prod.json
chromatic.config.json
tsconfig.prod.tsbuildinfo
vite.config.mts
vitest.config.mts
eslint.config.mjs
tests
report
scripts
stories
memory-bank
